<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PowerPOS.Properties.Settings>
            <setting name="LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShopId" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopName" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopParent" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopCustomer" serializeAs="String">
                <value />
            </setting>
            <setting name="DevicePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="DevicePrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoPath" serializeAs="String">
                <value>https://src.remaxthailand.co.th/img/web/logo/remax.png</value>
            </setting>
            <setting name="MemberType" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiShopId" serializeAs="String">
                <value />
            </setting>
            <setting name="ShopType" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintType" serializeAs="String">
                <value />
            </setting>
        </PowerPOS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PowerPOS.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://api.remaxthailand.co.th</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value>1300D462-2B4E-4235-B617-02537B4127D1</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>https://img.remaxthailand.co.th/300x300/product/</value>
            </setting>
        </PowerPOS.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>